# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Production Build
dist
dist-ssr
build

# Secrets (CRITICAL: Do not remove this line)
.env
.env.local

# User Uploads (Ignore test images)
uploads/
backend/uploads/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?